<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bund.bfr.knime.pmm.ui.commands.category"
            name="PMM-Lab">
      </category>
      <command
            categoryId="de.bund.bfr.knime.pmm.ui.commands.category"
            id="de.bund.bfr.knime.pmm.ui.commands.openDBGUI"
            name="Open DB Gui...">
      </command>
      <command
            categoryId="de.bund.bfr.knime.pmm.ui.commands.category"
            id="de.bund.bfr.knime.pmm.ui.commands.settings"
            name="Settings...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bund.bfr.knime.pmm.ui.handlers.OpenDBGUI"
            commandId="de.bund.bfr.knime.pmm.ui.commands.openDBGUI">
      </handler>
      <handler
            class="de.bund.bfr.knime.pmm.ui.handlers.Settings"
            commandId="de.bund.bfr.knime.pmm.ui.commands.settings">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bund.bfr.knime.pmm.ui.menus.masterdata"
               label="PMM-Lab"
               mnemonic="M">
            <command
                  commandId="de.bund.bfr.knime.pmm.ui.commands.openDBGUI"
                  id="de.bund.bfr.knime.pmm.ui.menus.openDBGUI"
                  style="push">
            </command>
            <command
                  commandId="de.bund.bfr.knime.pmm.ui.commands.settings"
                  id="de.bund.bfr.knime.pmm.ui.menus.settings"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/BfRPMM.png"
            level-id="pmmlab"
            name="PMM-Lab"
            path="/">
      </category>
      <category
            icon="icons/Reader.png"
            level-id="reader"
            name="Reader"
            path="/pmmlab">
      </category>
      <category
            icon="icons/Writer.png"
            level-id="writer"
            name="Writer"
            path="/pmmlab">
      </category>
      <category
            icon="icons/Model.png"
            level-id="fitting"
            name="Model Fitters &amp; Predictors"
            path="/pmmlab">
      </category>
      <category
            icon="icons/SelectionAndViews.png"
            level-id="views"
            name="Selectors &amp; Viewers"
            path="/pmmlab">
      </category>
      <category
            icon="icons/Editors.png"
            level-id="editors"
            name="Editors"
            path="/pmmlab">
      </category>
      <category
            icon="icons/XMLToTable.png"
            level-id="converter"
            name="Converter"
            path="/pmmlab">
      </category>
   </extension>

</plugin>
