<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.dim.bfr.ui.commands.category"
            id="de.dim.bfr.ui.commands.addLiteratur"
            name="%command.addLiteratur.name">
      </command>
      <command
            categoryId="de.dim.bfr.ui.commands.category"
            id="de.dim.bfr.ui.commands.deleteLiteratur"
            name="%command.deleteLiteratur.name">
      </command>
      <command
            categoryId="de.dim.bfr.ui.commands.category"
            id="de.dim.bfr.ui.commands.editLiteratur"
            name="%command.editLiteratur.name">
      </command>
      <command
            categoryId="de.dim.bfr.ui.commands.category"
            id="de.dim.bfr.ui.commands.deleteModell"
            name="%command.deleteModell.name">
      </command>
      <command
            categoryId="de.dim.bfr.ui.commands.category"
            id="de.dim.bfr.ui.commands.editModell"
            name="%command.editModell.name">
      </command>
      <command
            categoryId="de.dim.bfr.ui.commands.category"
            id="de.dim.bfr.ui.commands.addModell"
            name="%command.addModell.name">
      </command>
      <command
            categoryId="de.dim.bfr.ui.commands.category"
            id="de.dim.bfr.ui.commands.addEstModel"
            name="%command.addEstModel.name">
      </command>
      <command
            categoryId="de.dim.bfr.ui.commands.category"
            id="de.dim.bfr.ui.commands.editEstModel"
            name="%command.editEstModel.name">
      </command>
      <command
            categoryId="de.dim.bfr.ui.commands.category"
            id="de.dim.bfr.ui.commands.deleteEstModel"
            name="%command.deleteEstModel.name">
      </command>
      <command
            categoryId="de.dim.bfr.ui.commands.category"
            id="de.dim.bfr.ui.commands.refreshFromDatabase"
            name="%command.refreshFromDatabase.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.dim.bfr.ui.handlers.RefreshFromDatabase"
            commandId="de.dim.bfr.ui.commands.refreshFromDatabase">
      </handler>
      <handler
            class="de.dim.bfr.ui.handlers.AddLiteraturHandler"
            commandId="de.dim.bfr.ui.commands.addLiteratur">
      </handler>
      <handler
            class="de.dim.bfr.ui.handlers.AddStatisticModelHandler"
            commandId="de.dim.bfr.ui.commands.addModell">
      </handler>
      <handler
            class="de.dim.bfr.ui.handlers.BFRDeleteHandler"
            commandId="de.dim.bfr.ui.commands.deleteLiteratur">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="de.dim.bfr.Literatur">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.dim.bfr.ui.handlers.BFRDeleteHandler"
            commandId="de.dim.bfr.ui.commands.deleteModell">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="de.dim.bfr.StatistikModell">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.dim.bfr.ui.handlers.BFREditHandler"
            commandId="de.dim.bfr.ui.commands.editLiteratur">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="de.dim.bfr.Literatur">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.dim.bfr.ui.handlers.BFREditHandler"
            commandId="de.dim.bfr.ui.commands.editModell">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="de.dim.bfr.StatistikModell">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.dim.bfr.ui.handlers.AddEstimatedStatisticModelHandler"
            commandId="de.dim.bfr.ui.commands.addEstModel">
      </handler>
      <handler
            class="de.dim.bfr.ui.handlers.BFRDeleteHandler"
            commandId="de.dim.bfr.ui.commands.deleteEstModel">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="de.dim.bfr.GeschaetztStatistikModell">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.dim.bfr.ui.handlers.BFREditHandler"
            commandId="de.dim.bfr.ui.commands.editEstModel">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="de.dim.bfr.GeschaetztStatistikModell">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:de.dim.bfr.ui.view.Literature?after=additions">
         <command
               commandId="de.dim.bfr.ui.commands.addLiteratur"
               style="push">
         </command>
         <command
               commandId="de.dim.bfr.ui.commands.editLiteratur"
               style="push">
         </command>
         <command
               commandId="de.dim.bfr.ui.commands.deleteLiteratur"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.dim.bfr.ui.view.StatisticModel?after=additions">
         <command
               commandId="de.dim.bfr.ui.commands.addModell"
               style="push">
         </command>
         <command
               commandId="de.dim.bfr.ui.commands.editModell"
               style="push">
         </command>
         <command
               commandId="de.dim.bfr.ui.commands.deleteModell"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.dim.bfr.ui.view.EstimatedStatisticModel?after=additions">
         <command
               commandId="de.dim.bfr.ui.commands.addEstModel"
               style="push">
         </command>
         <command
               commandId="de.dim.bfr.ui.commands.editEstModel"
               style="push">
         </command>
         <command
               commandId="de.dim.bfr.ui.commands.deleteEstModel"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.dim.bfr.ui.editors.LiteraturEditor.toolbar?after=additions">
         <command
               commandId="org.eclipse.ui.file.save"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.dim.bfr.ui.editors.EstimatedStatisticModelEditor.toolbar?after=additions">
         <command
               commandId="org.eclipse.ui.file.save"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.dim.bfr.ui.editors.StatisticModelEditor.toolbar?after=additions">
         <command
               commandId="org.eclipse.ui.file.save"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.dim.bfr.ui.editors.LiteraturEditor"
            icon="icons/obj16/book.png"
            id="de.dim.bfr.ui.editors.LiteraturEditor"
            matchingStrategy="de.dim.bfr.ui.editors.BFREditorMatchingStrategy"
            name="%bfr.literature.editor.name">
      </editor>
      <editor
            class="de.dim.bfr.ui.editors.StatisticModelEditor"
            default="false"
            icon="icons/obj16/modell.png"
            id="de.dim.bfr.ui.editors.StatisticModelEditor"
            matchingStrategy="de.dim.bfr.ui.editors.BFREditorMatchingStrategy"
            name="%bfr.model.editor.name">
      </editor>
      <editor
            class="de.dim.bfr.ui.editors.EstimatedStatisticModelEditor"
            default="false"
            icon="icons/obj16/estimated_model.png"
            id="de.dim.bfr.ui.editors.EstimatedStatisticModelEditor"
            matchingStrategy="de.dim.bfr.ui.editors.BFREditorMatchingStrategy"
            name="%bfr.estModel.editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="de.dim.bfr.ui.commands.addLiteratur"
            icon="icons/clcl16/book_add.png">
      </image>
      <image
            commandId="de.dim.bfr.ui.commands.editLiteratur"
            icon="icons/clcl16/book_edit.png">
      </image>
      <image
            commandId="de.dim.bfr.ui.commands.deleteLiteratur"
            icon="icons/clcl16/book_delete.png">
      </image>
      <image
            commandId="de.dim.bfr.ui.commands.addModell"
            icon="icons/clcl16/modell_add.png">
      </image>
      <image
            commandId="de.dim.bfr.ui.commands.editModell"
            icon="icons/clcl16/modell_edit.png">
      </image>
      <image
            commandId="de.dim.bfr.ui.commands.deleteModell"
            icon="icons/clcl16/modell_delete.png">
      </image>
      <image
            commandId="de.dim.bfr.ui.commands.addEstModel"
            icon="icons/clcl16/est_model_add.png">
      </image>
      <image
            commandId="de.dim.bfr.ui.commands.editEstModel"
            icon="icons/clcl16/est_model_edit.png">
      </image>
      <image
            commandId="de.dim.bfr.ui.commands.deleteEstModel"
            icon="icons/clcl16/est_model_delete.png">
      </image>
   </extension>
   

</plugin>
