<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/pmmlab/views"
            factory-class="de.bund.bfr.knime.pmm.predictorview.PredictorViewNodeFactory"
            id="de.bund.bfr.knime.pmm.predictorview.PredictorViewNodeFactory"/>
      <node
            category-path="/pmmlab/views"            
            factory-class="de.bund.bfr.knime.pmm.js.modelplotter.ModelPlotterNodeFactory"
            id="de.bund.bfr.knime.pmm.js.modelplotter.ModelPlotterNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.js.core.javascriptComponents">
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="de.bund.bfr.knime.pmm.js.modelplotter.bundle"
            init-method-name="init"
            javascriptComponentID="de.bund.bfr.knime.pmm.js.modelplotter"
            name="Model Plotter"
            namespace="pmm_plotter"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
   </extension>
   <extension
         point="org.knime.js.core.webResources">
      <webResourceBundle
            debug="true"
            name="Math JS"
            version="1.0.0"
            webResourceBundleID="de.bund.bfr.knime.pmm.js.modelplotter.mathjs">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/js/modelplotter/math.js"
               relativePathTarget="de/bund/bfr/knime/pmm/js/modelplotter/math.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/js/modelplotter/math.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      
      <webResourceBundle
            debug="true"
            name="Function Plot"
            version="1.0.0"
            webResourceBundleID="de.bund.bfr.knime.pmm.js.modelplotter.function-plot">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/js/modelplotter/function-plot.js"
               relativePathTarget="de/bund/bfr/knime/pmm/js/modelplotter/function-plot.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/js/modelplotter/function-plot.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="de.bund.bfr.knime.pmm.js.modelplotter.d3">
         </webDependency>
         <webDependency
               webResourceBundleID="de.bund.bfr.knime.pmm.js.modelplotter.mathjs">
         </webDependency>
      </webResourceBundle>
      
      <!--  TODO: resolve dependencies from org.knime.js.core -->
      <webResourceBundle
            debug="true"
            name="d3"
            version="1.0.0"
            webResourceBundleID="de.bund.bfr.knime.pmm.js.modelplotter.d3">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/js/modelplotter/d3.js"
               relativePathTarget="de/bund/bfr/knime/pmm/js/modelplotter/d3.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/js/modelplotter/d3.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      
      <webResourceBundle
            debug="true"
            name="jQuery UI"
            version="1.0.0"
            webResourceBundleID="de.bund.bfr.knime.pmm.js.modelplotter.jquery-ui">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/js/modelplotter/jquery-ui.js"
               relativePathTarget="de/bund/bfr/knime/pmm/js/modelplotter/jquery-ui.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/js/modelplotter/jquery-ui.js"
               type="JAVASCRIPT">
         </importResource>
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/js/modelplotter/jquery-ui.css"
               relativePathTarget="de/bund/bfr/knime/pmm/js/modelplotter/jquery-ui.css">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/js/modelplotter/jquery-ui.css"
               type="CSS">
         </importResource>
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/js/modelplotter/jquery-ui.structure.css"
               relativePathTarget="de/bund/bfr/knime/pmm/js/modelplotter/jquery-ui.structure.css">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/js/modelplotter/jquery-ui.structure.css"
               type="CSS">
         </importResource>
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/js/modelplotter/jquery-ui.theme.css"
               relativePathTarget="de/bund/bfr/knime/pmm/js/modelplotter/jquery-ui.theme.css">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/js/modelplotter/jquery-ui.theme.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="de.bund.bfr.knime.pmm.js.modelplotter.jquery">
         </webDependency>
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/js/modelplotter/images/"
               relativePathTarget="de/bund/bfr/knime/pmm/js/modelplotter/images/">
         </webResource>
      </webResourceBundle>
      
      <webResourceBundle
            debug="true"
            name="jQuery"
            version="1.0.0"
            webResourceBundleID="de.bund.bfr.knime.pmm.js.modelplotter.jquery">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/js/modelplotter/jquery.js"
               relativePathTarget="de/bund/bfr/knime/pmm/js/modelplotter/jquery.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/js/modelplotter/jquery.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      
      <webResourceBundle
            debug="true"
            name="PMM Plotter"
            version="1.0.0"
            webResourceBundleID="de.bund.bfr.knime.pmm.js.modelplotter.bundle">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/js/modelplotter/pmm-plotter.js"
               relativePathTarget="de/bund/bfr/knime/pmm/js/modelplotter/pmm-plotter.js">
         </webResource>
         <webDependency
               webResourceBundleID="de.bund.bfr.knime.pmm.js.modelplotter.function-plot">
         </webDependency>
         <webDependency
               webResourceBundleID="de.bund.bfr.knime.pmm.js.modelplotter.jquery-ui">
         </webDependency>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/js/modelplotter/pmm-plotter.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
   </extension>
   
</plugin>
