<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/pmmlab/editors"
          factory-class="de.bund.bfr.knime.pmm.timeseriescreator.TimeSeriesCreatorNodeFactory" />
      <node category-path="/pmmlab/reader"
          factory-class="de.bund.bfr.knime.pmm.timeseriesreader.TimeSeriesReaderNodeFactory" />
      <node category-path="/pmmlab/writer"
          factory-class="de.bund.bfr.knime.pmm.timeserieswriter.TimeSeriesWriterNodeFactory" />
   </extension>
   
</plugin>
