<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<!--
  Copyright (C) 2012 Data In Motion
  
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
	<extension point="org.eclipse.core.runtime.preferences">
    	<initializer class="de.dim.bfr.knime.preferences.CustomRPreferenceInitializer">
      	</initializer>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page category="org.knime.workbench.ui.preferences" class="de.dim.bfr.knime.preferences.CustomRPreferencePage" id="org.knime.ext.r.preferences.RPreferencePage" name="BfR Plugin">
        </page>
    </extension>
   
    <extension point="org.knime.workbench.repository.categories">
      <category description="BfR" level-id="bfr" name="BfR Nodes" path="/"/>
  </extension>
   
   <!--extension point="org.knime.workbench.repository.metanode">
      <PersistedMetaNode category-path="/" expert-flag="false" id="BfRPlugin.PersistedMetaNode2" name="MetaTest" workflowDir="MetaTestNode/">
      </PersistedMetaNode>
   </extension-->
       
</plugin>
