<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

	<extension point="org.knime.workbench.repository.nodes">
	   	<node category-path="/pmmlab/reader" factory-class="de.bund.bfr.knime.pmm.numl.NuMLReaderNodeFactory" id="numl.NuMLReaderNodeFactory" />
		<node category-path="/pmmlab/reader" factory-class="de.bund.bfr.knime.pmm.sbmlreader.SBMLReaderNodeFactory" id="sbmlreader.SBMLReaderNodeFactory" />
		<node category-path="/pmmlab/reader" factory-class="de.bund.bfr.knime.pmm.openfsmr.OpenFSMRConverterNodeFactory" id="openfsmr.OpenFSMRConverterFactory" />
  <node
        category-path="/pmmlab/reader"        
        factory-class="de.bund.bfr.knime.pmm.pmfreader.PMFReaderNodeFactory"
        id="de.bund.bfr.knime.pmm.pmfreader.PMFReaderNodeFactory">
  </node>
  <node
        category-path="/pmmlab/writer"        
        factory-class="de.bund.bfr.knime.pmm.pmfwriter.PMFWriterNodeFactory"
        id="de.bund.bfr.knime.pmm.pmfwriter.PMFWriterNodeFactory">
  </node>
	</extension>	
   
   <extension
         point="org.knime.js.core.javascriptComponents">
   </extension>
   <extension point="org.knime.js.core.webResources">
      <webResourceBundle
            debug="true"
            name="select2"
            version="4.0.0"
            webResourceBundleID="select2">
         <webResource
               relativePathSource="js-src/bund/bfr/knime/pmm/editor/js/select2.js"
               relativePathTarget="de/bund/bfr/knime/pmm/editor/js/select2.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/editor/js/select2.js"
               type="JAVASCRIPT">
         </importResource>
         <webResource
               relativePathSource="js-src/bund/bfr/knime/pmm/editor/css/select2.css"
               relativePathTarget="de/bund/bfr/knime/pmm/editor/css/select2.css">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/editor/css/select2.css"
               type="CSS">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="toastr"
            version="1.0.0"
            webResourceBundleID="toastr">
         <webResource
               relativePathSource="js-src/bund/bfr/knime/pmm/editor/js/toastr.js"
               relativePathTarget="de/bund/bfr/knime/pmm/editor/js/toastr.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/editor/js/toastr.js"
               type="JAVASCRIPT">
         </importResource>
         <webResource
               relativePathSource="js-src/bund/bfr/knime/pmm/editor/css/toastr.css"
               relativePathTarget="de/bund/bfr/knime/pmm/editor/css/toastr.css">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/editor/css/toastr.css"
               type="CSS">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="jsep"
            version="1.0.0"
            webResourceBundleID="jsep">
         <webResource
               relativePathSource="js-src/bund/bfr/knime/pmm/editor/js/jsep.js"
               relativePathTarget="de/bund/bfr/knime/pmm/editor/js/jsep.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/editor/js/jsep.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
        <webResourceBundle
            debug="true"
            name="jquery"
            version="2.1.4"
            webResourceBundleID="jquery">
         <webResource
               relativePathSource="js-src/bund/bfr/knime/pmm/editor/js/jquery.js"
               relativePathTarget="de/bund/bfr/knime/pmm/editor/js/jquery.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/editor/js/jquery.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
        <webResourceBundle
              debug="true"
              name="bootstrap-table"
              version="1.8.1"
              webResourceBundleID="bootstrap-table">
           <webResource
                 relativePathSource="js-src/bund/bfr/knime/pmm/editor/js/bootstrap-table.js"
                 relativePathTarget="de/bund/bfr/knime/pmm/editor/js/bootstrap-table.js">
           </webResource>rce>
       <importResource
                 relativePath="de/bund/bfr/knime/pmm/editor/js/bootstrap-table.js"
                 type="JAVASCRIPT">
           </importResource>
        </webResourceBundle>
   </extension>
</plugin>
