<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/pmmlab/reader"
            factory-class="de.bund.bfr.knime.pmm.estimatedmodelreader.EstimatedModelReaderNodeFactory"
            id="de.bund.bfr.knime.pmm.estimatedmodelreader.EstimatedModelReaderNodeFactory"/>
      <node
            category-path="/pmmlab/writer"
            factory-class="de.bund.bfr.knime.pmm.estimatedmodelwriter.EstimatedModelWriterNodeFactory"
            id="de.bund.bfr.knime.pmm.estimatedmodelwriter.EstimatedModelWriterNodeFactory"/>
   </extension>
</plugin>
