<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/pmmlab/reader"
         factory-class="de.bund.bfr.knime.pmm.modelcatalogreader.ModelCatalogReaderNodeFactory"/>
      <node category-path="/pmmlab/writer"
         factory-class="de.bund.bfr.knime.pmm.modelcatalogwriter.ModelCatalogWriterNodeFactory"/>
   </extension>
</plugin>
