<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/pmmlab/reader" factory-class="de.bund.bfr.knime.pmm.combaseio.CombaseReaderNodeFactory" id="de.bund.bfr.knime.combaseio.CombaseReaderNodeFactory"/>
   <node category-path="/pmmlab/writer" factory-class="de.bund.bfr.knime.pmm.combaseio.CombaseWriterNodeFactory" id="de.bund.bfr.knime.combaseio.CombaseWriterNodeFactory"/>
</extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/BfRPMM.png"
            level-id="pmmlab"
            name="PMM-Lab"
            path="/">
      </category>
      <category
            icon="icons/Editors.png"
            level-id="editors"
            name="Editors"
            path="/pmmlab">
      </category>
      <category
            icon="icons/Model.png"
            level-id="fitting"
            name="Model Fitting &amp; Prediction"
            path="/pmmlab">
      </category>
      <category
            icon="icons/Reader.png"
            level-id="reader"
            name="Reader"
            path="/pmmlab">
      </category>
      <category
            icon="icons/SelectionAndViews.png"
            level-id="views"
            name="Selection &amp; Views"
            path="/pmmlab">
      </category>
      <category
            icon="icons/Writer.png"
            level-id="writer"
            name="Writer"
            path="/pmmlab">
      </category>
   </extension>
   
</plugin>
