<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fsk.bin.preferences.RPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="fsk.bin.preferences.RPreferencePage"
            id="fsk.bin.preferences.RPreferencePage"
            name="BfR R settings">
      </page>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="FSK nodes"
            icon="icons/rsnippet.png"
            level-id="fsk"
            locked="true"
            name="FSK"
            path="/scripting">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/scripting/fsk"
            deprecated="false"
            factory-class="fsk.RSnippetNodeFactory"
            id="fsk.RSnippetNodeFactory">
      </node>
   </extension>

</plugin>
