<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

	<extension point="org.knime.workbench.repository.nodes">
  <node
        category-path="/pmmlab/writer"
        deprecated="false"
        factory-class="fskx.writer.FSKXWriterNodeFactory"
        id="FSKXWriterNodeFactory">
  </node>
  <node
        category-path="/pmmlab/reader"
        deprecated="false"
        factory-class="fskx.reader.FSKXReaderNodeFactory"
        id="FSKXReaderNodeFactory">
  </node>
  <node
        category-path="/pmmlab/reader"
        deprecated="false"
        factory-class="fskx.r2fsk.R2FSKNodeFactory"
        id="R2FSKNodeFactory">
  </node>
	</extension>	
   
</plugin>
