<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node
            category-path="/pmmlab"
            deprecated="false"
            factory-class="de.bund.bfr.knime.pmm.editor.ModelEditorNodeFactory"
            id="de.bund.bfr.knime.pmm.editor.ModelEditorNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.js.core.javascriptComponents">
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="de.bund.bfr.knime.pmm.editor.bundle"
            init-method-name="init"
            javascriptComponentID="de.bund.bfr.knime.pmm.editor"
            name="JavaScript Editor"
            namespace="js_editor">
      </javascriptComponent>
   </extension>
   <extension point="org.knime.js.core.webResources">
      <webResourceBundle
            debug="true"
            name="JavaScript Editor"
            usesDefine="false"
            version="1.0.0"
            webResourceBundleID="de.bund.bfr.knime.pmm.editor.bundle">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/editor/editor.js"
               relativePathTarget="de/bund/bfr/knime/pmm/editor/editor.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/editor/editor.js"
               type="JAVASCRIPT">
         </importResource>
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/editor/editor.css"
               relativePathTarget="de/bund/bfr/knime/pmm/editor/editor.css">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/editor/editor.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="select2">
         </webDependency>
         <webDependency
               webResourceBundleID="toastr">
         </webDependency>
         <webDependency
               webResourceBundleID="jsep">
         </webDependency>
         <webDependency
               webResourceBundleID="jquery">
         </webDependency>
         <webDependency
               webResourceBundleID="boostrap">
         </webDependency>
         <webDependency
               webResourceBundleID="boostrap-table">
         </webDependency>
         <webDependency
               webResourceBundleID="boostrap-editable">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="select2"
            version="4.0.0"
            webResourceBundleID="select2">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/select2/select2.js"
               relativePathTarget="de/bund/bfr/knime/pmm/select2/select2.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/select2/select2.js"
               type="JAVASCRIPT">
         </importResource>
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/select2/select2.css"
               relativePathTarget="de/bund/bfr/knime/pmm/select2/select2.css">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/select2/select2.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="jquery">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="toastr"
            version="1.0.0"
            webResourceBundleID="toastr">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/toastr/toastr.js"
               relativePathTarget="de/bund/bfr/knime/pmm/toastr/toastr.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/toastr/toastr.js"
               type="JAVASCRIPT">
         </importResource>
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/toastr/toastr.css"
               relativePathTarget="de/bund/bfr/knime/pmm/toastr/toastr.css">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/toastr/toastr.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="jquery">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="jsep"
            version="1.0.0"
            webResourceBundleID="jsep">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/jsep/jsep.js"
               relativePathTarget="de/bund/bfr/knime/pmm/jsep/jsep.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/jsep/jsep.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="jquery"
            version="2.1.4"
            webResourceBundleID="jquery">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/jquery/jquery.js"
               relativePathTarget="de/bund/bfr/knime/pmm/jquery/jquery.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/jquery/jquery.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="boostrap"
            version="3.3.5"
            webResourceBundleID="boostrap">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/bootstrap/bootstrap.js"
               relativePathTarget="de/bund/bfr/knime/pmm/bootstrap/bootstrap.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/bootstrap/bootstrap.js"
               type="JAVASCRIPT">
         </importResource>
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/bootstrap/bootstrap.css"
               relativePathTarget="de/bund/bfr/knime/pmm/bootstrap/bootstrap.css">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/bootstrap/bootstrap.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="jquery">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="boostrap-table"
            version="1.8.1"
            webResourceBundleID="boostrap-table">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/bootstrap-table/bootstrap-table.js"
               relativePathTarget="de/bund/bfr/knime/pmm/bootstrap-table/bootstrap-table.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/bootstrap-table/bootstrap-table.js"
               type="JAVASCRIPT">
         </importResource>
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/bootstrap-table/bootstrap-table.css"
               relativePathTarget="de/bund/bfr/knime/pmm/bootstrap-table/bootstrap-table.css">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/bootstrap-table/bootstrap-table.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="boostrap">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="boostrap-editable"
            version="1.5.1 "
            webResourceBundleID="boostrap-editable">
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/bootstrap-editable/bootstrap-editable.js"
               relativePathTarget="de/bund/bfr/knime/pmm/bootstrap-editable/bootstrap-editable.js">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/bootstrap-editable/bootstrap-editable.js"
               type="JAVASCRIPT">
         </importResource>
         <webResource
               relativePathSource="js-src/de/bund/bfr/knime/pmm/bootstrap-editable/bootstrap-editable.css"
               relativePathTarget="de/bund/bfr/knime/pmm/bootstrap-editable/bootstrap-editable.css">
         </webResource>
         <importResource
               relativePath="de/bund/bfr/knime/pmm/bootstrap-editable/bootstrap-editable.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="boostrap">
         </webDependency>
      </webResourceBundle>
   </extension>
</plugin>
