<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

<extension point="org.knime.workbench.repository.nodes">
  <node
    category-path="/pmmlab/util"
    factory-class="de.bund.bfr.knime.node.editableTable.PagedTableViewNodeFactory">
  </node>
  
  <node
    category-path="/pmmlab/util"
    factory-class="de.bund.bfr.knime.node.editableTable.EditableTableNodeFactory">
  </node>
</extension>

<extension point="org.knime.js.core.webResources">

  <webResourceBundle
    debug="true"
    name="Editable Paged Table"
    usesDefine="false"
    version="1.0"
    webResourceBundleID="de.bund.bfr.util.js.editablePagedTable.bundle">

    <webDependency webResourceBundleID="KnimeTable_1.0.0"></webDependency>
    <webDependency
          webResourceBundleID="bootstrap_3.3.6">
    </webDependency>
    
    <webResource relativePathSource="js-src/" relativePathTarget="js-src/"></webResource>
    <importResource relativePath="js-src/editablePagedTable.js" type="JAVASCRIPT"></importResource>
    <importResource relativePath="js-src/editablePagedTable.css" type="CSS"></importResource>
    <webDependency webResourceBundleID="jQueryUi_1.10.4"></webDependency>
  </webResourceBundle>
  
  <webResourceBundle
    debug="true"
    name="Editable table"
    version="1.0"
    webResourceBundleID="de.bund.bfr.util.js.editableTable.bundle">
    
    <webResource relativePathSource="js-src/" relativePathTarget="js-src/"></webResource>
    <importResource relativePath="js-src/editableTable.js" type="JAVASCRIPT"></importResource>
    <webDependency webResourceBundleID="jQueryUi_1.10.4"></webDependency>
  </webResourceBundle>
</extension>

<extension point="org.knime.js.core.javascriptComponents">
  <javascriptComponent
    getComponentValue-method-name="getComponentValue"
    implementationBundleID="de.bund.bfr.util.js.editablePagedTable.bundle"
    init-method-name="init"
    javascriptComponentID="de.bund.bfr.util.js.editablePagedTable"
    name="Editable Paged Table"
    namespace="editable_table">
  </javascriptComponent>
  
  <javascriptComponent
    getComponentValue-method-name="getComponentValue"
    implementationBundleID="de.bund.bfr.util.js.editableTable.bundle"
    init-method-name="init"
    javascriptComponentID="de.bund.bfr.util.js.editableTable"
    name="Editable table"
    namespace="editable_table">
  </javascriptComponent>
</extension>
</plugin>
